<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.5" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.5" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.5" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.Sqlite64" version="4.0.5" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.5" targetFramework="net45" />
  <package id="System.Data.SQLite.x64" version="1.0.90.0" targetFramework="net45" />
</packages>